__pycache__/
*.pyc
*.pyo
*.log
.env
node_modules/
.DS_Store
Thumbs.db
*.tmp
*.swp
.idea/
.vscode/

ai_system/ComfyUI*/
ai_system/SadTalker*/
ai_system/chatrd/
ai_system/.insightface/
cloudflared.log
ai_system/api_eva.log
ai_system/api_eva_chat.log

storage/
*.jpg
*.jpeg
*.mp4
!frontend/img/
venv*/
